*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(243,243,243);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    background-color:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}
h1{
    color: rgb(52,152,219);
    padding: 20px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
}
input:focus {
    outline-color: rgb(19, 6, 6);
  }
  
button{
    background-color:blanchedalmond;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
   
}
button:hover{
    background-color: red;
}
#result{
    padding: 20px;
}